  <div dir="rtl">
    
  <div id="one">
   
  <p-table [value]="orders" dataKey="OrderID" editMode="row" [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [(first)]="first"
            (onEditInit)="onEditInit($event)" (onEditComplete)="onEditComplete($event)"   (onEditCancel)="onEditCancel($event)"
            currentPageReportTemplate="מציג {first}  עד {last} מתוך {totalRecords} רשומות" [rowsPerPageOptions]="[10,25,50]">
      
      <ng-template pTemplate="header">
        <tr>
          <th>מזהה הזמנה</th>
          <th>שם לקוח</th>
          <th class="hide_address">כתובת משלוח</th>
          <th class="hide_city">עיר משלוח</th>
          <th class="hide_region">אזור משלוח</th>
          <th>עלות משלוח</th>  
      </tr>
    </ng-template>
          
    <ng-template pTemplate="body" let-order let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="order">
              <td>{{order.orderID}}</td>
              <td [pEditableColumn]="order" pEditableColumnField="companyName">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="order.companyName">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{order.companyName}}
                    </ng-template>
                </p-cellEditor>
            </td>
            
              <td class="hide_address">{{order.shipAddress}}</td>
              <td class="hide_city">{{order.shipCity}}</td>
              <td class="hide_region">{{order.shipRegion}}</td>
            
            <td [pEditableColumn]="order" pEditableColumnField="shippingCost">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" pInputText [(ngModel)]="order.shippingCost"/>
                </ng-template>
                <ng-template pTemplate="output">
                  <span>{{order.shippingCost}}</span>
                </ng-template>
              </p-cellEditor>
            </td>
              
          </tr>
      </ng-template>
  </p-table>
  </div>

<div id="two" dir="rtl">
    <app-orders-total [totalOrders]="totalOrders" [totalShippingCost]="totalShippingCost" [averageShippingCost]="averageShippingCost">
    </app-orders-total>
</div>

</div>
